#wrapper {
  overflow-x: hidden;
}
.front-page {
  display: flex;
  background-image: url("main-image.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 100vw;
}
.frame {
  background-color: #0793ca;
  height: 600px;
  width: 40vw;
  position: absolute;
}
.t-100 {
  display: flex;
  flex-direction: column;
  z-index: 4;
  padding: 0 30px;
}
.t-100 h3,
h1,
span {
  color: white;
}
.t-100 h1 {
  font-size: 56px;
}
.t-100 h3 {
  font-size: 28px;
}
.t-100 span {
  font-size: 28px;
}
.more-button {
  height: 40px;
  width: fit-content;
  padding: 0 10px;
  border-radius: 25px;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  margin-top: 50px;
}
.t-50 {
  opacity: 50%;
  padding-right: 150px;
  z-index: 2;
}
.t-30 {
  opacity: 30%;
  padding-right: 250px;
}
.main-img-div {
  display: flex;
  justify-content: flex-end;
  height: 600px;
  width: 2000px;
  background-repeat: no-repeat;
  background-size: contain;
}
/* .main-img {
  height: 600px;
  object-fit: cover;
} */
.wrapper-we-are {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.wrapper-we-are h2 {
  color: #0793ca;
}
.cards-center {
  width: 800px;
  display: flex;
  justify-content: space-around;
}
