:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
  margin: 0;
}
#wrapper {
  min-height: 100%;
}
h2 {
  font-size: 48px;
}
